PORT=4003
NODE_ENV=production
REDIS_HOST=redis-cluster.cache.svc.cluster.local
REDIS_PORT=6379
DATABASE_URL=postgresql://railcloud_user:secure_password@postgres-primary.database.svc.cluster.local:5432/railcloud_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq.messaging.svc.cluster.local:5672
SEAT_LOCK_TTL_SECONDS=600
CANCELLATION_REFUND_PERCENTAGE=80
