PORT=4005
NODE_ENV=production
RABBITMQ_URL=amqp://guest:guest@rabbitmq.messaging.svc.cluster.local:5672
RABBITMQ_QUEUE=railway.notifications.email
RABBITMQ_DEAD_LETTER_EXCHANGE=railway.dlx
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=placeholder_ses_smtp_user
SMTP_PASSWORD=placeholder_ses_smtp_password
SENDER_EMAIL=noreply@railcloud.internal
